<body>
  <div id="content">
    <p class="heading1">팝빌 휴폐업조회 SDK Ruby On Rails Example.</p>
    <br/>
    <fieldset class="fieldset1">
      <legend>팝빌 기본 API</legend>
      <fieldset class="fieldset2">
        <legend>회원사 정보</legend>
        <ul>
          <li><a href="ClosedownExample/checkIsMember">checkIsMember</a> - 연동회원사 가입 여부 확인</li>
          <li><a href="ClosedownExample/joinMember">joinMember</a> - 연동회원사 가입 요청</li>
          <li><a href="ClosedownExample/getChargeInfo">getChargeInfo</a> - 과금정보 확인</li>
          <li><a href="ClosedownExample/getBalance">getBalance</a> - 연동회원사 잔여포인트 확인</li>
          <li><a href="ClosedownExample/getPartnerBalance">getPartnerBalance</a> - 파트너 잔여포인트 확인</li>
          <li><a href="ClosedownExample/getPopbillURL">getPopbillURL</a> - 팝빌 SSO URL 요청</li>
          <li><a href="ClosedownExample/listContact">listContact</a> - 담당자 목록 확인 </li>
          <li><a href="ClosedownExample/updateContact">updateContact</a> - 담당자 정보 수정 </li>
          <li><a href="ClosedownExample/registContact">registContact</a> - 담당자 추가 </li>
          <li><a href="ClosedownExample/checkID">checkID</a> - 연동회원 아이디 중복확인 </li>
          <li><a href="ClosedownExample/getCorpInfo">getCorpInfo</a> - 회사정보 확인 </li>
          <li><a href="ClosedownExample/updateCorpInfo">updateCorpInfo</a> - 회사정보 수정 </li>
        </ul>
      </fieldset>
    </fieldset>
    <br />
    <fieldset class="fieldset1">
      <legend>휴폐업조회 API</legend>
      <fieldset class="fieldset2">
      <legend>휴폐업조회 관련  API</legend>
        <ul>
          <li><a href="ClosedownExample/checkCorpNum">CheckCorpNum</a> - 휴폐업조회(단건)</li>
          <li><a href="ClosedownExample/checkCorpNums">CheckCorpNums</a> - 휴폐업조회(대량) </li>
        </ul>
      </fieldset>
    </fieldset>
  </div>
</body>
