<div id="content">
  <p class="heading1">Response</p>
  <br/>
  <fieldset class="fieldset1">
    <legend><%= request.env['PATH_INFO'] %></legend>
    <fieldset class="fieldset2">
      <legend>알림메일 전송목록 조회</legend>
      <ul>
        <% @Response.each_with_index do |emailConfig| %>
          <li>
            <% if emailConfig["emailType"] == "CSH_ISSUE" %>
              CSH_ISSUE (고객에게 현금영수증이 발행 되었음을 알려주는 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
            <% if emailConfig["emailType"] == "CSH_CANCELISSUE" %>
              CSH_CANCELISSUE (고객에게 현금영수증이 발행취소 되었음을 알려주는 메일) : <%= emailConfig["sendYN"] %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </fieldset>
  </fieldset>
</div>
