<div id="content">
  <p class="heading1">POPBILL e-Tax Invoice SDK Ruby On Rails Example.</p>
  <br/>
  <fieldset class="fieldset1">
    <legend>Issue/File the e-Tax invoice</legend>
    <ul>
      <li><a href="TaxinvoiceExample/checkMgtKeyInUse">CheckMgtKeyInUse</a> - Checking the availability of e-Tax invoice id</li>
      <li><a href="TaxinvoiceExample/registIssue">RegistIssue</a> - Regist and issue the e-Tax invoice</li>
      <li><a href="TaxinvoiceExample/register">Register</a> - Save the e-Tax invoice</li>
      <li><a href="TaxinvoiceExample/update">Update</a> - Modify the e-Tax invoice</li>
      <li><a href="TaxinvoiceExample/issue">Issue</a> - Issue the e-Tax invoice</li>
      <li><a href="TaxinvoiceExample/cancelIssue">CancelIssue</a> - Cancel the issuance of e-Tax invoice</li>
      <li><a href="TaxinvoiceExample/delete">Delete</a> - Delete the e-Tax invoice</li>
      <li><a href="TaxinvoiceExample/registRequest">RegistRequest</a> - Request for issuing the e-Tax invoice to invoicer(seller)</li>
      <li><a href="TaxinvoiceExample/request">Request</a> - Request for issuing saved e-Tax invoice to seller</li>
      <li><a href="TaxinvoiceExample/cancelRequest">CancelRequest</a> - Cancel the issuance request</li>
      <li><a href="TaxinvoiceExample/refuse">Refuse</a> - Refuse to issue the e-Tax invoice</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>File the e-Tax invoice to NTS</legend>
    <ul>
      <li><a href="TaxinvoiceExample/sendToNTS">SendToNTS</a> - File the e-Tax invoice to NTS</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>Check the information of e-Tax invoice</legend>
    <ul>
      <li><a href="TaxinvoiceExample/getInfo">GetInfo</a> - Check the status of the e-Tax invoice</li>
      <li><a href="TaxinvoiceExample/getInfos">GetInfos</a> - Check the status of the bulk e-Tax invoices</li>
      <li><a href="TaxinvoiceExample/getDetailInfo">GetDetailInfo</a> - Check the details of the e-Tax invoice</li>
      <li><a href="TaxinvoiceExample/search">Search</a> - Search the list of e-Tax voices</li>
      <li><a href="TaxinvoiceExample/getLogs">GetLogs</a> - Check the log of status change</li>
      <li><a href="TaxinvoiceExample/getURL">GetURL</a> - URL for e-Tax invoice list</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>View/Print the e-Tax invoice</legend>
    <ul>
      <li><a href="TaxinvoiceExample/getPopUpURL">GetPopUpURL</a> - URL to view the e-Tax invoice</li>
      <li><a href="TaxinvoiceExample/getPrintURL">GetPrintURL</a> - URL to print the e-Tax invoice [For invoicer(seller)/invoicee(buyer)]</li>
      <li><a href="TaxinvoiceExample/getEPrintURL">GetEPrintURL</a> - URL to print the e-Tax invoice [For buyer]</li>
      <li><a href="TaxinvoiceExample/getMassPrintURL">GetMassPrintURL</a> - URL to print bulk e-Tax invoices</li>
      <li><a href="TaxinvoiceExample/getMailURL">GetMailURL</a> - URL for a mail link of the e-Tax invoice</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>Additional functions</legend>
    <ul>
      <li><a href="TaxinvoiceExample/getAccessURL">GetAccessURL</a> - URL to log-in</li>
      <li><a href="TaxinvoiceExample/getSealURL"> GetSealURL</a> - URL to register the seal and attachments</li>
      <li><a href="TaxinvoiceExample/attachFile">AttachFile</a> - Attach the file to e-Tax invoice</li>
      <li><a href="TaxinvoiceExample/deleteFile">DeleteFile</a> - Delete the attachment</li>
      <li><a href="TaxinvoiceExample/getFiles">GetFiles</a> - Check the attachment list</li>
      <li><a href="TaxinvoiceExample/sendEmail">SendEmail</a> - Send a notification mail</li>
      <li><a href="TaxinvoiceExample/sendSMS">SendSMS</a> - Send a SMS</li>
      <li><a href="TaxinvoiceExample/sendFAX">SendFAX</a> - Send an e-Tax invoice by fax</li>
      <li><a href="TaxinvoiceExample/attachStatement">AttachStatement</a> - Attach a statement</li>
      <li><a href="TaxinvoiceExample/detachStatement">DetachStatement</a> - Detach a statement</li>
      <li><a href="TaxinvoiceExample/getEmailPublicKeys">GetEmailPublicKeys</a> - Check the email list of e-Tax invoice service provider</li>
      <li><a href="TaxinvoiceExample/assignMgtKey">AssignMgtKey</a> - Assign an invoice id</li>
      <li><a href="TaxinvoiceExample/listEmailConfig">ListEmailConfig</a> -  Search an outgoing mail configuration</li>
      <li><a href="TaxinvoiceExample/updateEmailConfig">UpdateEmailConfig</a> - Modify an outgoing mail list</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>Certificate Management</legend>
    <ul>
      <li><a href="TaxinvoiceExample/getTaxCertURL">GetTaxCertURL</a> - URL to register the certificate</li>
      <li><a href="TaxinvoiceExample/getCertificateExpireDate">GetCertificateExpireDate</a> - Check certificate’s expiration date</li>
      <li><a href="TaxinvoiceExample/checkCertValidation">CheckCertValidation</a> - Check certificate’s validity</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>Points Management</legend>
    <ul>
      <li><a href="TaxinvoiceExample/getBalance">GetBalance</a> - Check point’s balance</li>
      <li><a href="TaxinvoiceExample/getChargeURL">GetChargeURL</a> - URL to charge points</li>
      <li><a href="TaxinvoiceExample/getPartnerBalance">GetPartnerBalance</a> - Check point’s balance of partner</li>
      <li><a href="TaxinvoiceExample/getPartnerURL">GetPartnerURL</a> - URL to charge partner’s points</li>
      <li><a href="TaxinvoiceExample/getUnitCost">GetUnitCost</a> - Check the issuance unit cost per an e-Tax invoice</li>
      <li><a href="TaxinvoiceExample/getChargeInfo">GetChargeInfo</a> - Check the charging information</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>Member’s Information</legend>
    <ul>
      <li><a href="TaxinvoiceExample/checkIsMember">CheckIsMember</a> - Check whether a user is a partner user or not</li>
      <li><a href="TaxinvoiceExample/checkID">CheckID</a> - Check whether an ID is in use or not</li>
      <li><a href="TaxinvoiceExample/joinMember">JoinMember</a> - Join the POPBILL as a partner user</li>
      <li><a href="TaxinvoiceExample/getCorpInfo">GetCorpInfo</a> - Check the company information</li>
      <li><a href="TaxinvoiceExample/updateCorpInfo">UpdateCorpInfo</a> - Modify the company information</li>
      <li><a href="TaxinvoiceExample/registContact">RegistContact</a> - Register a contact of the person in charge</li>
      <li><a href="TaxinvoiceExample/listContact">ListContact</a> - Check the list of persons in charge</li>
      <li><a href="TaxinvoiceExample/updateContact">UpdateContact</a> - Modify the contact information</li>
    </ul>
  </fieldset>
</div>
