<div id="content">
  <p class="heading1">팝빌 세금계산서 SDK Ruby On Rails Example.</p>
  <br/>
  <fieldset class="fieldset1">
    <legend>정방행/역발행/위수탁발행</legend>
    <ul>
      <li><a href="TaxinvoiceExample/checkMgtKeyInUse">CheckMgtKeyInUse</a> - 관리번호 확인</li>
      <li><a href="TaxinvoiceExample/registIssue">RegistIssue</a> - 즉시 발행</li>
      <li><a href="TaxinvoiceExample/register">Register</a> - 임시저장</li>
      <li><a href="TaxinvoiceExample/update">Update</a> - 수정</li>
      <li><a href="TaxinvoiceExample/issue">Issue</a> - 발행</li>
      <li><a href="TaxinvoiceExample/cancelIssue">CancelIssue</a> - 발행취소</li>
      <li><a href="TaxinvoiceExample/send">Send</a> - [발행예정]</li>
      <li><a href="TaxinvoiceExample/cancelSend">CancelSend</a> - [발행예정] 취소</li>
      <li><a href="TaxinvoiceExample/accept">Accept</a> - [발행예정] 승인</li>
      <li><a href="TaxinvoiceExample/deny">Deny</a> - [발행예정] 거부</li>
      <li><a href="TaxinvoiceExample/delete">Delete</a> - 삭제</li>
      <li><a href="TaxinvoiceExample/registRequest">RegistRequest</a> - [역발행] 즉시 요청</li>
      <li><a href="TaxinvoiceExample/request">Request</a> - 역발행요청</li>
      <li><a href="TaxinvoiceExample/cancelRequest">CancelRequest</a> - 역발행요청 취소</li>
      <li><a href="TaxinvoiceExample/refuse">Refuse</a> - 역발행요청 거부</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>국세청 즉시 전송</legend>
    <ul>
      <li><a href="TaxinvoiceExample/sendToNTS">SendToNTS</a> - 국세청 즉시전송</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>세금계산서 정보확인</legend>
    <ul>
      <li><a href="TaxinvoiceExample/getInfo">GetInfo</a> - 상태 확인</li>
      <li><a href="TaxinvoiceExample/getInfos">GetInfos</a> - 상태 대량 확인</li>
      <li><a href="TaxinvoiceExample/getDetailInfo">GetDetailInfo</a> - 상세정보 확인</li>
      <li><a href="TaxinvoiceExample/search">Search</a> - 목록 조회</li>
      <li><a href="TaxinvoiceExample/getLogs">GetLogs</a> - 상태 변경이력 확인</li>
      <li><a href="TaxinvoiceExample/getURL">GetURL</a> - 세금계산서 문서함 관련 URL</li>
    </ul>
  </fieldset>
  <fieldset class="fieldset1">
    <legend>세금계산서 보기/인쇄</legend>
    <ul>
      <li><a href="TaxinvoiceExample/getPopUpURL">GetPopUpURL</a> - 세금계산서 보기 URL</li>
      <li><a href="TaxinvoiceExample/getPrintURL">GetPrintURL</a> - 세금계산서 인쇄 [공급자/공급받는자] URL</li>
      <li><a href="TaxinvoiceExample/getEPrintURL">GetEPrintURL</a> - 세금계산서 인쇄 [공급받는자용] URL</li>
      <li><a href="TaxinvoiceExample/getMassPrintURL">GetMassPrintURL</a> - (세금계산서 대량 인쇄 URL</li>
      <li><a href="TaxinvoiceExample/getMailURL">GetMailURL</a> - 세금계산서 메일링크 URL</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>부가기능</legend>
    <ul>
      <li><a href="TaxinvoiceExample/getAccessURL">GetAccessURL</a> - 팝빌 로그인 URL</li>
      <li><a href="TaxinvoiceExample/getSealURL"> GetSealURL</a> - 인감 및 첨부문서 등록 URL</li>
      <li><a href="TaxinvoiceExample/attachFile">AttachFile</a> - 첨부파일 추가</li>
      <li><a href="TaxinvoiceExample/deleteFile">DeleteFile</a> - 첨부파일 삭제</li>
      <li><a href="TaxinvoiceExample/getFiles">GetFiles</a> - 첨부파일 목록 확인</li>
      <li><a href="TaxinvoiceExample/sendEmail">SendEmail</a> - 메일 전송</li>
      <li><a href="TaxinvoiceExample/sendSMS">SendSMS</a> - 문자 전송</li>
      <li><a href="TaxinvoiceExample/sendFAX">SendFAX</a> - 팩스 전송</li>
      <li><a href="TaxinvoiceExample/attachStatement">AttachStatement</a> - 전자명세서 첨부</li>
      <li><a href="TaxinvoiceExample/detachStatement">DetachStatement</a> - 전자명세서 첨부해제</li>
      <li><a href="TaxinvoiceExample/getEmailPublicKeys">GetEmailPublicKeys</a> - 유통사업자 메일 목록 확인</li>
      <li><a href="TaxinvoiceExample/assignMgtKey">AssignMgtKey</a> - 관리번호 할당</li>
      <li><a href="TaxinvoiceExample/listEmailConfig">ListEmailConfig</a> - 세금계산서 알림메일 전송목록 조회</li>
      <li><a href="TaxinvoiceExample/updateEmailConfig">UpdateEmailConfig</a> - 세금계산서 알림메일 전송설정 수정</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>공인인증서 관리</legend>
    <ul>
      <li><a href="TaxinvoiceExample/getTaxCertURL">GetTaxCertURL</a> - 공인인증서 등록 URL</li>
      <li><a href="TaxinvoiceExample/getCertificateExpireDate">GetCertificateExpireDate</a> - 공인인증서 만료일 확인</li>
      <li><a href="TaxinvoiceExample/checkCertValidation">CheckCertValidation</a> - 공인인증서 유효성 확인</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>포인트 관리</legend>
    <ul>
      <li><a href="TaxinvoiceExample/getBalance">GetBalance</a> - 연동회원 잔여포인트 확인</li>
      <li><a href="TaxinvoiceExample/getChargeURL">GetChargeURL</a> - 연동회원 포인트충전 URL</li>
      <li><a href="TaxinvoiceExample/getPartnerBalance">GetPartnerBalance</a> - 파트너 잔여포인트 확인</li>
      <li><a href="TaxinvoiceExample/getPartnerURL">GetPartnerURL</a> - 파트너 포인트충전 URL</li>
      <li><a href="TaxinvoiceExample/getUnitCost">GetUnitCost</a> - 발행 단가 확인</li>
      <li><a href="TaxinvoiceExample/getChargeInfo">GetChargeInfo</a> - 과금정보 확인</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>회원정보</legend>
    <ul>
      <li><a href="TaxinvoiceExample/checkIsMember">CheckIsMember</a> - 연동회원 가입여부 확인</li>
      <li><a href="TaxinvoiceExample/checkID">CheckID</a> - 아이디 중복 확인</li>
      <li><a href="TaxinvoiceExample/joinMember">JoinMember</a> - 연동회원 신규가입</li>
      <li><a href="TaxinvoiceExample/getCorpInfo">GetCorpInfo</a> - 회사정보 확인</li>
      <li><a href="TaxinvoiceExample/updateCorpInfo">UpdateCorpInfo</a> - 회사정보 수정</li>
      <li><a href="TaxinvoiceExample/registContact">RegistContact</a> - 담당자 등록</li>
      <li><a href="TaxinvoiceExample/listContact">ListContact</a> - 담당자 목록 확인</li>
      <li><a href="TaxinvoiceExample/updateContact">UpdateContact</a> - 담당자 정보 수정</li>
    </ul>
  </fieldset>
</div>