<div id="content">
  <p class="heading1">팝빌 계좌조회 API SDK Ruby On Rails Example.</p>
  <br/>

  <fieldset class="fieldset1">
    <legend>계좌 관리</legend>
    <ul>
      <li><a href="EasyFinBankExample/registBankAccount">registBankAccount</a> - 계좌 등록</li>
      <li><a href="EasyFinBankExample/updateBankAccount">updateBankAccount</a> - 계좌정보 수정</li>
      <li><a href="EasyFinBankExample/getBankAccountInfo">getBankAccountInfo</a> - 계좌정보 확인</li>
      <li><a href="EasyFinBankExample/listBankAccount">listBankAccount</a> - 계좌 목록 확인</li>
      <li><a href="EasyFinBankExample/getBankAccountMgtURL">getBankAccountMgtURL</a> - 계좌 관리 팝업 URL</li>
      <li><a href="EasyFinBankExample/closeBankAccount">closeBankAccount</a> - 계좌 정액제 해지신청</li>
      <li><a href="EasyFinBankExample/revokeCloseBankAccount">revokeCloseBankAccount</a> - 계좌 정액제 해지신청 취소</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>계좌 거래내역 수집</legend>
    <ul>
      <li><a href="EasyFinBankExample/requestJob">requestJob</a> - 수집 요청</li>
      <li><a href="EasyFinBankExample/getJobState">getJobState</a> - 수집 상태 확인</li>
      <li><a href="EasyFinBankExample/listActiveJob">listActiveJob</a> - 수집 상태 목록 확인</li>
    </ul>
  </fieldset>
  <br/>

  <fieldset class="fieldset1">
    <legend>계좌 거래내역 관리</legend>
    <ul>
      <li><a href="EasyFinBankExample/search">search</a> - 거래내역 조회</li>
      <li><a href="EasyFinBankExample/summary">summary</a> - 거래내역 요약정보 조회</li>
      <li><a href="EasyFinBankExample/saveMemo">saveMemo</a> - 거래내역 메모 저장</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>포인트 관리 / 정액제 신청</legend>
    <ul>
      <li><a href="EasyFinBankExample/getFlatRatePopUpURL">getFlatRatePopUpURL</a> - 정액제 서비스 신청 URL</li>
      <li><a href="EasyFinBankExample/getFlatRateState">getFlatRateState</a> - 정액제 서비스 상태 확인</li>
      <li><a href="EasyFinBankExample/getBalance">getBalance</a> - 연동회원 잔여포인트 확인</li>
      <li><a href="EasyFinBankExample/getChargeURL">getChargeURL</a> - 연동회원 포인트충전 URL</li>
      <li><a href="EasyFinBankExample/getPartnerBalance">getPartnerBalance</a> - 파트너 잔여포인트 확인</li>
      <li><a href="EasyFinBankExample/getPartnerURL">getPartnerURL</a> - 파트너 포인트충전 URL</li>
      <li><a href="EasyFinBankExample/getChargeInfo">getChargeInfo</a> - 과금정보 확인</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>회원정보</legend>
    <ul>
      <li><a href="EasyFinBankExample/checkIsMember">checkIsMember</a> - 연동회원 가입여부 확인</li>
      <li><a href="EasyFinBankExample/checkID">checkID</a> - 아이디 중복 확인</li>
      <li><a href="EasyFinBankExample/joinMember">joinMember</a> - 연동회원 신규가입</li>
      <li><a href="EasyFinBankExample/getAccessURL">getAccessURL</a> - 팝빌 로그인 URL</li>
      <li><a href="EasyFinBankExample/getCorpInfo">getCorpInfo</a> - 회사정보 확인</li>
      <li><a href="EasyFinBankExample/updateCorpInfo">updateCorpInfo</a> - 회사정보 수정</li>
      <li><a href="EasyFinBankExample/registContact">registContact</a> - 담당자 등록</li>
      <li><a href="EasyFinBankExample/listContact">listContact</a> - 담당자 목록 확인</li>
      <li><a href="EasyFinBankExample/updateContact">updateContact</a> - 담당자 정보 수정</li>
    </ul>
  </fieldset>
</div>
