<div id="content">
  <p class="heading1">Exception</p>
  <br/>
  <fieldset class="fieldset1">
    <legend><%=request.env['PATH_INFO']%></legend>
    <ul>
      <li>Exception Code : <%=@Response.code%></li>
      <li>Exception Message : <%=@Response.message%></li>
    </ul>

  </fieldset>
 </div>
