<div id="content">
  <p class="heading1">POPBILL SDK Ruby On Rails Example.</p>
  <br/>
  <fieldset class="fieldset1">
    <legend>POPBILL API</legend>
    <ul>
      <li><a href="TaxinvoiceExample">TaxinvoiceService</a> - e-Tax Invoice API</li>
      <li><a href="StatementExample">StatementService</a> - e-Statement API</li>
      <li><a href="CashbillExample">CashbillService</a> - e-Cash bill API</li>
      <li><a href="MessageExample">MessageService</a> - SMS API</li>
      <li><a href="FaxExample">FaxService</a> - FAX API</li>
      <li><a href="KakaoExample">KakaoService</a> - KakaoTalk API</li>
      <li><a href="HTTaxinvoiceExample">HTTaxinvoiceExample</a> - Hometax Searching(Taxinvoice) API</li>
      <li><a href="HTCashbillExample">HTCashbillExample</a> - Hometax Search(Cashbill) API</li>
      <li><a href="ClosedownExample">ClosedownService</a> - CloseDown API</li>
    </ul>
  </fieldset>
</div>
