<div id="content">
  <p class="heading1">Response</p>
  <br/>
  <fieldset class="fieldset1">
    <legend><%= request.env['PATH_INFO'] %></legend>
    <ul>
      <li><%= @name %> : <%= @value %></li>
    </ul>
  </fieldset>
</div>
