<div id="content">
  <p class="heading1">팝빌 홈택스연동(전자세금계산서) SDK Ruby On Rails Example.</p>
  <br/>
  <fieldset class="fieldset1">
    <legend>홈택스 전자세금계산서 매입/매출 내역 수집</legend>
    <ul>
      <li><a href="HTTaxinvoiceExample/requestJob">requestJob</a> - 수집 요청</li>
      <li><a href="HTTaxinvoiceExample/getJobState">getJobState</a> - 수집 상태 확인</li>
      <li><a href="HTTaxinvoiceExample/listActiveJob">listActiveJob</a> - 수집 상태 목록 확인</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>홈택스 전자세금계산서 매입/매출 내역 수집 결과 조회</legend>
    <ul>
      <li><a href="HTTaxinvoiceExample/search">search</a> - 수집 결과 조회</li>
      <li><a href="HTTaxinvoiceExample/summary">summary</a> - 수집 결과 요약정보 조회</li>
      <li><a href="HTTaxinvoiceExample/getTaxinvoice">getTaxinvoice</a> - 상세정보 확인(JSON)</li>
      <li><a href="HTTaxinvoiceExample/getXML">getXML</a> - 상세정보 확인(XML)</li>
      <li><a href="HTTaxinvoiceExample/getPopUpURL">getPopUpURL</a> - 전자세금계산서 보기 팝업 URL</li>
      <li><a href="HTTaxinvoiceExample/getPrintURL">getPrintURL</a> - 전자세금계산서 인쇄 팝업 URL</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>홈택스연동 인증 관리</legend>
    <ul>
      <li><a href="HTTaxinvoiceExample/getCertificatePopUpURL">getCertificatePopUpURL</a> - 홈택스연동 인증 관리 팝업 URL</li>
      <li><a href="HTTaxinvoiceExample/getCertificateExpireDate">getCertificateExpireDate</a> - 홈택스연동 공인인증서 만료일자 확인</li>
      <li><a href="HTTaxinvoiceExample/checkCertValidation">checkCertValidation</a> - 홈택스 공인인증서 로그인 테스트</li>
      <li><a href="HTTaxinvoiceExample/registDeptUser">registDeptUser</a> - 부서사용자 계정등록</li>
      <li><a href="HTTaxinvoiceExample/checkDeptUser">checkDeptUser</a> - 부서사용자 등록정보 확인</li>
      <li><a href="HTTaxinvoiceExample/checkLoginDeptUser">checkLoginDeptUser</a> - 부서사용자 로그인 테스트</li>
      <li><a href="HTTaxinvoiceExample/deleteDeptUser">deleteDeptUser</a> - 부서사용자 등록정보 삭제</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>포인트 관리 / 정액제 신청</legend>
    <ul>
      <li><a href="HTTaxinvoiceExample/getBalance">getBalance</a> - 연동회원 잔여포인트 확인</li>
      <li><a href="HTTaxinvoiceExample/getChargeURL">getChargeURL</a> - 연동회원 포인트충전 URL</li>
      <li><a href="HTTaxinvoiceExample/getPartnerBalance">getPartnerBalance</a> - 파트너 잔여포인트 확인</li>
      <li><a href="HTTaxinvoiceExample/getPartnerURL">getPartnerURL</a> - 파트너 포인트충전 URL</li>
      <li><a href="HTTaxinvoiceExample/getChargeInfo">getChargeInfo</a> - 과금정보 확인</li>
      <li><a href="HTTaxinvoiceExample/getFlatRatePopUpURL">getFlatRatePopUpURL</a> - 정액제 서비스 신청 URL</li>
      <li><a href="HTTaxinvoiceExample/getFlatRateState">getFlatRateState</a> - 정액제 서비스 상태 확인</li>
    </ul>
  </fieldset>
  <br/>
  <fieldset class="fieldset1">
    <legend>회원정보</legend>
    <ul>
      <li><a href="HTTaxinvoiceExample/checkIsMember">checkIsMember</a> - 연동회원 가입여부 확인</li>
      <li><a href="HTTaxinvoiceExample/checkID">checkID</a> - 아이디 중복 확인</li>
      <li><a href="HTTaxinvoiceExample/joinMember">joinMember</a> - 연동회원 신규가입</li>
      <li><a href="HTTaxinvoiceExample/getAccessURL">getAccessURL</a> - 팝빌 로그인 URL</li>
      <li><a href="HTTaxinvoiceExample/getCorpInfo">getCorpInfo</a> - 회사정보 확인</li>
      <li><a href="HTTaxinvoiceExample/updateCorpInfo">updateCorpInfo</a> - 회사정보 수정</li>
      <li><a href="HTTaxinvoiceExample/registContact">registContact</a> - 담당자 등록</li>
      <li><a href="HTTaxinvoiceExample/getContactInfo">GetContactInfo</a> - 담당자 정보 확인</li>
      <li><a href="HTTaxinvoiceExample/listContact">listContact</a> - 담당자 목록 확인</li>
      <li><a href="HTTaxinvoiceExample/updateContact">updateContact</a> - 담당자 정보 수정</li>
    </ul>
  </fieldset>
</div>
