<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>팝빌 SDK Ruby On Rails Example.</title>
  <%= stylesheet_link_tag "Example" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
